body {
    font-family: "GillSans", "arial" sans-serif;
    //::selection {
      //background: transparent;
    //}

    //::-moz-selection {
      //background: transparent;
    //}
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-font-smoothing: antialiased;
}
