.CookieAcceptPanel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #3b3b3b;
    background: rgba(59,59,59,0.9);
    filter: alpha(opacity=90);
    @include font-size(13);
    z-index: 2000;
    color: #fff;
    display:none;
}
.CookieAcceptPanel .inner{
    margin:0 auto;
    max-width:1024px;
    padding: 10px 20px;
    position:relative;
    text-align: center;
}
.CookieAcceptClosePanel
{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
a.CookieAcceptReadMore,
a:link.CookieAcceptReadMore,
a:visited.CookieAcceptReadMore,
a:hover.CookieAcceptReadMore,
a:active.CookieAcceptReadMore
{
    color: #fff !important;
    text-decoration: underline !important;
}
a.CookieAcceptCloseLink,
a:link.CookieAcceptCloseLink,
a:visited.CookieAcceptCloseLink,
a:hover.CookieAcceptCloseLink,
a:active.CookieAcceptCloseLink
{
    color: #fff !important;
    text-decoration: none !important;
}