/* ------------------------------------------------------ */
/* STANDARD
/* ------------------------------------------------------ */

@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeue-CondensedBold.eot');
    src: url('../fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
         url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-CondensedBold.svg#gillsansstd') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helveticaneueltstd_md-webfont';
    src: url('../fonts/helveticaneueltstd_md-webfont.eot');
    src: url('../fonts/helveticaneueltstd_md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd_md-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd_md-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd_md-webfont.svg#gillsansstd') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ------------------------------------------------------ */
/* STANDARD
/* ------------------------------------------------------ */

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.svg#gillsansstd') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------ */
/* MEDIUM
/* ------------------------------------------------------ */

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype'),
         url('../fonts/Gotham-Medium.svg#gillsanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------ */
/* Bold
/* ------------------------------------------------------ */

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf') format('truetype'),
         url('../fonts/Gotham-Bold.svg#gillsansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}