#sectionContact { /* passer à p- */
    padding: 5%;
    width: 60%;
    min-height: 15em;
    background: green;
    color: white;
    float: left;
    @include translateZ(-5000px);
    @include transition(all .5s ease-out);
    opacity: 0;
    position: absolute;
    right: 0;

    &.active {
        @include translateZ(0);
        opacity: 1;
    }

    a {
        color: white;
    }
}