// params = spriteConfigPath+path, space between images, display of img in sprite : horizontal, vertical, diagonal, smart
$socialicons: sprite-map("socialicons/16/*.png", $spacing: 5px, $layout: smart);

// another way which generates .folder-file classes
// $myfolder-spacing: 5px;
// $myfolder-layout:diagonal;
// @import "folder/*.png";


// retina sprite
$socialiconsRETINA: sprite-map("socialicons/32/*.png", $spacing: 5px, $layout: vertical);


// generic classes for social icons  jkhk
[class^="socialicons-"],
[class*=" socialicons-"] {
    background-repeat: no-repeat;
    background-image: sprite-url($socialicons);
    @media (-webkit-min-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (min-device-pixel-ratio: 1.5) {
        background-image: sprite-url($socialiconsRETINA);
        // background-size: (sprite-width($socialiconsRETINA) / 2) auto;
    }
}